<%= simple_form_for(@user) do |f| %>
  <%= f.input :name, input_html: { class:'form-control' } %>
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %>
  <%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "off" %></div>
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  <%= f.input :role, collection: User::ROLE,  input_html:{ class: 'form-control'} %>
  <%= f.submit "Crear" %>
<% end %>


