<%= simple_form_for(@invoice_stock) do |f| %>
  <% if @invoice_stock.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@invoice_stock.errors.count, "error") %> prohibited this invoice_stock from being saved:</h2>

  <ul>
    <% @invoice_stock.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>
  </ul>
</div>
  <% end %>

<div class="col-md-4">
  <%= f.input :name, label: 'Nombre', input_html: {class: 'form-control'} %> 
</div>
<br>
<br>
      <div class="row panel panel-default">
        <div class=" col-md-12  panel-heading">
          <div class="col-md-4 text-center">Producto</div>
          <div class="col-md-2 text-center">Cantidad</div>
          <div class="col-md-2 text-center">Precio Costo</div>
          <div class="col-md-2 text-center">Fecha Vto</div>
          <div class="col-md-2 text-center">Proveedor</div>
        </div>

<div class="col-md-12 line3 panel-body">
  <%= f.fields_for :stocks, method: 'get' do |ph| %>
    <%=render 'stocks', f: ph  %>
  <div class="text-center">
    <%=link_to_add_fields 'Agregar Item', f , :stocks %>
  </div>
<% end %>

</div> 
</div>


<div class="actions">
  <%= f.submit "Guardar", class: 'btn btn-primary'  %>
</div>
<% end %>
